<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/chat.css">
    <link rel="shortcut icon" href="../imgs/icon.png" type="image/x-icon">
    <title>Socorro</title>
</head>
<body>
    <div class="container">
        <img src="../imgs/bg.png" alt="Logo" class="logo">
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Como posso ajudar?">
        </div>
        <button class="button-search" onclick="search()">Pesquisar</button>
        <div id="instructions" class="instructions"></div>

    </div>
    <script src="../src/testchat.js"></script>
</body>
</html>