<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Socorro</title>
    <link rel="shortcut icon" href="/img/bg.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/index.css">
    <style>
  
    </style>
</head>
<body>
    <div class="header">
        <img id="header" src="/img/bg.png" alt="Logo">
        <a href="/chat">SOCORRO CHAT</a>
    </div>

    <div class="buttons-container">
        <a class="button" href="tel:192">
            <img src="/img/ambulancia.png" alt="Ambulância">
            Ambulância
        </a>
        <a class="button" href="tel:193">
            <img src="/img/Corpo-de-Bombeiros-Militar.png" alt="Bombeiro">
            Bombeiro
        </a>
        <a class="button" href="tel:190">
            <img src="/img/sirene.jpg" alt="Polícia">
            Polícia
        </a>
        <a class="button" href="tel:100">
            <img src="/img/disque-100.png" alt="Direitos Humanos">
            Direitos Humanos
        </a>
    </div>
</body>
</html>